*{
	padding:0px;
	margin:0px;
}
body{
	font-size:1em;
	font-family:"Arial", helvetica, sans-serif;
	background: white;
}
#cabecalho{

    border: solid lightblue;
    padding-left: 10px;
    padding-right: 10px;
    text-align:center;
    
}
#menu{
    padding:15px;
    text-align:center;
}
#principal{
    width: 1000px;
    margin: 20px 100px;
    float: left;
    background:white;
    border: solid lightblue;
}
#postagem{
    background-color: white;
    width:900px;
    padding:15px;
    float: left;
    text-align:left;
}
#tabela{
    width:99,5%;
    text-align:center;
    border-collapse: collapse;
    margin: 0px 3px;
    
}
td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}
th {
    background-color: lightskyblue;
    margin: 10px 40px;   
}
tr:nth-child(even){
    background-color: lightskyblue;
}
#rodape{
    background-color: cornflowerblue;
    text-align: center;
    line-height: 40px;
    height:40px;
    padding: 2px;
}
.link-menu{
    background-color:skyblue;
    color:white;
    text-decoration:none;
    margin:5px 30px;
    padding: 10px;
    font-size: 20px;
    width:500%;
    border: solid 1px cornflowerblue;
}
a:hover{
    background-color:lightblue;
    color: white;
    font-size: 20px;
}